In [4]:
a=int(input())
b=int(input())
a,b=b,a
print(a)
print(b)

 6
 5

5
6

In [12]:
arr = tuple(map(int, input().split()))
s=set(arr)
s
print(tuple(s))

 1 2 2 3 4

(1, 2, 3, 4)

In [42]:
arr=tuple(map(int,input().split()))
for i in arr:
    if arr.count(i)==1:
        print("True")
        break;
    else:
        print("False")

 1 2 3 4 5 4

True

In [32]:
arr = tuple(map(int, input().split()))

# Using a set to avoid duplicate checks
printed = False

for i in set(arr):  # Iterate through unique elements only
    if arr.count(i) == 1:
        print("True")
        printed = True
        break  # Exit loop once we find a unique element

if not printed:
    print("False")

 1 2 3 4 5 4

True

In [48]:
arr = tuple(map(int, input().split()))

# Check if there is any unique element in the tuple
has_unique = any(arr.count(i) == 1 for i in arr)

# Print result only once
print("True" if has_unique else "False")

 1 2 3 4 2

True

In [56]:
arr = tuple(map(int, input().split()))
has_unique=any(arr.count(i)==1 for i in arr)
print("False" if has_unique else "True")

 1 2 3 4 2

False

In [58]:
arr = tuple(map(int, input().split()))

if len(arr) == len(set(arr)):  # Check if all elements are unique
    print("True")
else:
    print("False")

 1 2 3 4 3

False

In [68]:

arr = tuple(map(int, input().split()))
x = int(input())
print(arr.index(x))

 1 2 3 4
 2

3
1

In [76]:

st = {int(x) for x in input().split()}
i = int(input())
r = int(input())

########### Write your code below ###############
# Insert i in set
st.add(i)
########### Write your code above ###############

# Printing the set
for i in sorted(st):
    print (i, end=' ')
print()

########### Write your code below ###############
# Remove r from set
st.discard(r)
########### Write your code above ###############

# Printing the set
for i in sorted(st):
    print (i, end=' ')
print()

########### Write your code below ###############
 # Sum of set elements
sum=sum(st)
########### Write your code above ###############

# Print sum of set
print(sum)

 1 2 3 4
 2
 3

1 2 3 4
1 2 4
7

In [90]:
a=set(list(map(int,input().split())))
b = set(list(map(int, input().split())))

########### Write your code below ###############
res =a.issubset(b) # Is a subset of b?

########### Write your code above ###############
# Print True or False
print(res)

 1 4 3
 1 4 3 2

True

In [94]:
a = set([int(x) for x in input().strip().split()])
b = set([int(x) for x in input().strip().split()])

########### Write your code below ###############
st = a.union(b)

########### Write your code above ###############

# Printing the size of the set which is the total number of elements in the set.
print(len(st))

 1 2 3 4 5
 1 2 3

5

In [2]:
print(id(5))  # Unique identifier for the object with value 5
a = 10
print(id(a))  # Unique identifier for the object with value 10
b = a
print(id(b))

140713817614904
140713817615064
140713817615064

In [4]:
a = 10
b = a
b = 20
print(a is b)  # False, as b now points to a different object

False

In [6]:
s1 = {2, 4, 6, 8}
s2 = {4, 8}

print(s1.isdisjoint(s2))  # Output: False
print(s1 <= s2)           # Output: False
print(s1 < s2)            # Output: False
print(s1 >= s2)           # Output: True
print(s1 > s2)            # Output: Tru

False
False
False
True
True

In [ ]:
- isdisjoint(): Returns True if the two sets have no elements in common.

- Subset (<=): Checks if all elements of the first set are in the second set.

- Proper Subset (<): Similar to subset but does not allow both sets to be equal.

- Superset (>=): Checks if the first set contains all elements of the second set.

- Proper Superset (>): Similar to superset but does not allow both sets to be equa

In [8]:
d = {110:"abc", 101:"xyz", 105:"pqr"}
print(d.get(101))  		# Output: xyz
print(d.get(125))  		# Output: None
print(d.get(125,"NA"))  # Output: NA
if 125 in d:
    print(d[125])
else:
    print("NA")  		# Output: NA

xyz
None
NA
NA

In [ ]:
# Taking input and initializing dictionary
keys = input().split()  # List of keys (as strings)
values = map(int, input().split())  # List of values (as integers)
my_dict = dict(zip(keys, values))  # Creating dictionary

# Insert a key-value pair
k, v = input().split()
v = int(v)  # Convert value to integer
my_dict[k] = v
print("Inserted")  # Confirmation message

# Delete a key from the dictionary
d = input()
if d in my_dict:
    del my_dict[d]
    print("Deleted")
else:
    print("-1")  # Key not found

# Print value for a given key
p = input()
print(my_dict.get(p, "-1"))  # Print value if key exists, else -1

In [10]:
t1=(1,2,4,3)
t2=(1,2,3,4)
print(t1<t2)

False

In [12]:
se1={1,2,3}
se2={4,5,6}
print(len(se1+se2))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [18]:
s=set()
type(s)

set