# List
Input: arr = [54, 43, 2, 1, 5]
Output: 54 43 2 1 5
Explanation: Just traverse and print the numbers.

In [2]:
def listTraversal(arr):
     b=list(map(int, arr.split()))
arr=input()

listTraversal(arr)

 2 34 2

In [3]:
arr=(4,5,6,7)
a=list(arr)
print(type(a))
# a = arr.replace(",", " ")
print(*a)

<class 'list'>
4 5 6 7

In [4]:
arr = "4,5,6,7"  # String with commas
a = arr.replace(",", " ")  # Replace commas with spaces
print(a)

4 5 6 7

In [5]:
def listTraversal(arr):
    arr1=list(map(int, arr.split()))
    print(*arr1)
    #Write your code below
    
arr=input()
listTraversal(arr)

 3 4 5

3 4 5

Input: arr = [54, 43, 2, 1, 5]
Output: 5 1 2 43 54
Explanation: Just traverse in reverse and print the numbers.

In [7]:
def abc(arr):
    l.reverse()
    print(*l)
arr=input()
l=list(arr)
abc(arr)

 3 4 5

5   4   3

In [8]:
l=[5,678,23,1]
l.sort(reverse=True)
print(l)

[678, 23, 5, 1]

In [9]:
l=[5,678,23,1]
l.reverse()
print(l)

[1, 23, 678, 5]

In [10]:
def abc(arr):
    l.reverse()
    print(l)
arr=input()
arr1=arr.split()
l=list(arr1)
abc(arr)

 3 4 5 6

['6', '5', '4', '3']

In [11]:
# to get smaller value in other list
def get_smaller(l):
    new_list=[]
    for i in l:
        if i<x:
            new_list.append(i)
    return new_list
        
x=10
l=[11,23,2,4,5,7,8,90]
get_smaller(l)

[2, 4, 5, 7, 8]

In [12]:
def test(l):
    odd_list=[]
    even_list=[]
    for i in l:
        if i%2==0:
            even_list.append(i)
    
        else:
            odd_list.append(i)
    return odd_list,even_list
l=[2,3,4,5,6,12]
test(l)

([3, 5], [2, 4, 6, 12])

In [27]:

# Count Distinct Elements in A List
num=[2,3,4,5,12,2,2,2,2,3,3,3]
s=set(num)
print(type(s))
print(s)
new_list=list(s)
print(new_list)

<class 'set'>
{2, 3, 4, 5, 12}
[2, 3, 4, 5, 12]

In [53]:
def is_sorted(arr):
    return arr==sorted(arr)
arr=[2,3,4,5]
is_sorted(arr)

True

List: [50, 40, 40]
Sum: 50 + 40 + 40 = 130
Number of Elements: 3
Average: 130 / 3 â‰ˆ 43.33

In [55]:
def calculate_average(input_list):
    sum_of_elements = 0  
    for x in input_list: 
        sum_of_elements += x 
    count_of_elements = len(input_list)
    average = sum_of_elements / count_of_elements 
    return average 
  
numbers = [10, 20, 30, 40]
print(calculate_average(numbers))

25.0